.grey-box {
    background-color: #f0f0f0;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    white-space: pre-line;
}

.white-box {
    background-color: #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    white-space: pre-line;
}